<!DOCTYPE html>
<html>
<head>
	<title>welcome page</title>
</head>
<body>
	<h1>Welcome to the Calculator</h1>
	<h3><%= message %></h3>
	<form method="post" action="login">

		<input type="text" name="f_name" placeholder="First Name" autofocus>
		<input type="text" name="l_name" placeholder="Last Name"> 
		<br>
		<br>
	    <input type="text" name="username" placeholder="Username">
	    <input type="password" name="password" placeholder="Password">
	    <input type="submit" name="submit">

	</form>
</body>
</html>